.DS_Store
*.pyc
*.swp
.idea/

.coverage
htmlcov/

db.sqlite3
db.sqlite3-journal

html/.ht*
html/static/
html/media/*

logs/debug.log
logs/clear_sessions.log
logs/cron_mail.log
logs/cron_mail_deferred.log
logs/cron_mail_purge.log

config.ini
