html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 76px; /* padding top for nav height */
}

.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  line-height: 1em;
  vertical-align: text-bottom;
  overflow: hidden;
}

.btn .icon {
  width: 18px;
  height: auto;
  max-height: 18px;
}

.navbar-brand .icon {
  font-size: 40px;
}

.main-content {
  opacity: 0;
  transition: 0.24s ease-in;
}

.cursor-pointer {
  cursor: pointer;
}

.tooltip ul {
  margin: 0;
  padding-inline-start: 20px;
  text-align: left;
}

.tooltip ul li {
  margin-bottom: .25rem;
}

.form-check .form-check-radio-tag > [type=radio] {
    float: left;
    margin-left: -1.5em;
}

.form-check-radio-tag > [type=radio] {
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0,0,0,
        .25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.form-check-radio-tag > [type=radio] {
    border-radius: 50%;
}

.form-check-radio-tag > [type=radio]:active {
    filter: brightness(90%);
}

.form-check-radio-tag > [type=radio]:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,
        .25);
}

.form-check-radio-tag > [type=radio]:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-radio-tag > [type=radio]:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e")
}

.form-check-radio-tag > [type=radio]:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5
}

.form-check-radio-tag > [type=radio]:disabled~.form-check-label,
.form-check-radio-tag > [type=radio][disabled]~.form-check-label {
    opacity: .5;
}

.form-switch {
    padding-left: 2.5em;
}

.form-switch .form-check-radio-tag > [type=radio] {
    width: 2em;
    margin-left: -2.5em;
    background-image: url("data: image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out;
}
@media (prefers-reduced-motion:reduce) {
    .form-switch .form-check-radio-tag > [type=radio] {
        transition: none
    }
}

.form-switch .form-check-radio-tag > [type=radio]:focus {
    background-image: url("data: image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%2386b7fe'/%3e%3c/svg%3e");
}

.form-switch .form-check-radio-tag > [type=radio]:checked {
    background-position: right center;
    background-image: url("data: image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-radio-tag > [type=radio].is-invalid,
.was-validated .form-check-radio-tag > [type=radio]:invalid {
    border-color:#dc3545;
}

.form-check-radio-tag > [type=radio].is-invalid:checked,
.was-validated .form-check-radio-tag > [type=radio]:invalid:checked {
    background-color:#dc3545;
}

.form-check-radio-tag > [type=radio].is-invalid:focus,
.was-validated .form-check-radio-tag > [type=radio]:invalid:focus {
    box-shadow:0 0 0 .25rem rgba(220,53,69,
    .25);
}

.form-check-radio-tag > [type=radio].is-invalid~.form-check-label,
.was-validated .form-check-radio-tag > [type=radio]:invalid~.form-check-label {
    color:#dc3545;
}

.form-check-inline .form-check-radio-tag > [type=radio]~.invalid-feedback {
    margin-left:.5em;
}
