{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Login' %}{% endblock %}

{% block content %}
account login
    <div class="container mt-5">
        <form method="post" class="mb-5 needs-validation" novalidate>
            {% csrf_token %}
            {% include 'includes/bs5_form.html' with form=form %}
            <div class="row">
                <div class="col-sm">
                    <div class="mb-3"><a href="{% url 'password_reset' %}">{% translate 'Forgot your password?' %}</a></div>
                    <div class="mb-3"><a href="{% url 'signup' %}">{% translate 'Create an account' %}</a></div>
                    <button type="submit" value="Submit" class="btn btn-primary">{% translate 'Submit' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
