{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Password Reset' %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>{% translate 'Password Reset' %}</h1>
        {% if validlink %}
            <p>{% translate 'Please enter your new password twice to confirm:' %}</p>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% include 'includes/bs5_form.html' with form=form %}
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" value="Submit" class="btn btn-primary">{% translate 'Submit' %}</button>
                    </div>
                </div>
            </form>
        {% else %}
            <p>{% translate 'This password reset link is invalid. Please request a new' %} <a href="{% url 'password_reset' %}">{% translate 'password reset' %}</a>{% translate '.' %}</p>
        {% endif %}
    </div>
{% endblock %}
