{% extends "account.base.html" %}

{% block title %}Password Change{% endblock %}

{% block content %}
    <div class="container mt-5">
    <h1>Password Change</h1>
        <p>Please use the following form to change your password.</p>
        <p>If you don't remember your old password, you can also request a <a href="{% url 'password_reset' %}">password reset</a>.</p>
        <form method="post" class="mb-5 needs-validation" novalidate>
            {% csrf_token %}
            {% include 'includes/bs5_form.html' with form=form %}
            <div class="row">
                <div class="col-sm">
                    <button type="submit" value="Change" class="btn btn-primary">Change</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
