{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Password Reset' %}{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-auto">
        <h1 class="fs-2">{% translate 'Password Reset Request' %}</h1>
        <p>{% translate 'A message was sent to your registered email address with instructions for completing your password reset.' %}</p>
        <p>{% translate "If you don't receive the message, please make sure you entered the email address registered with your account and check your spam folder." %}</p>
    </div> <!-- .col-auto -->
</div> <!-- .row -->
{% endblock %}
