{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Password Change' %}{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-auto">
        <h1 class="fs-2">{% translate 'Password Change' %}</h1>
        <p>{% translate 'Please use the following form to change your password.' %}</p>
        <p>{% translate "If you don't remember your old password, you can also request a" %} <a href="{% url 'password_reset' %}">{% translate 'password reset' %}</a>{% translate '.' %}</p>
        <form method="post" class="mb-5 needs-validation" novalidate>
            {% csrf_token %}
            {% include 'includes/bs5_form.html' with form=form %}
            <div class="row">
                <div class="col-sm">
                    <button type="submit" value="Change" class="btn btn-primary">{% translate 'Change' %}</button>
                </div> <!-- .col-sm -->
            </div> <!-- .row -->
        </form>
    </div> <!-- .col-auto -->
</div> <!-- .row -->
{% endblock %}
