{% extends "account.base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Password Reset</h1>
        {% if validlink %}
            <p>Please enter your new password twice to confirm:</p>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}
                {% include 'includes/bs5_form.html' with form=form %}
                <div class="row">
                    <div class="col-sm">
                        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        {% else %}
            <p>This password reset link is invalid. Please request a new <a href="{% url 'password_reset' %}">password reset</a>.</p>
        {% endif %}
    </div>
{% endblock %}
