{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Password Reset' %}{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-auto">
        <h1 class="fs-2">{% translate 'Password Reset' %}</h1>
        {% if validlink %}
        <p>{% translate 'Please enter your new password twice to confirm:' %}</p>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {% include 'includes/bs5_form.html' with form=form %}
            <div class="row">
                <div class="col-sm">
                    <button type="submit" value="Submit" class="btn btn-primary">{% translate 'Submit' %}</button>
                </div> <!-- .col-sm -->
            </div> <!-- .row -->
        </form>
        {% else %}
        <p>{% translate 'This password reset link is invalid. Please request a new' %} <a href="{% url 'password_reset' %}">{% translate 'password reset' %}</a>{% translate '.' %}</p>
        {% endif %}
    </div> <!-- .col-auto -->
</div> <!-- .row -->
{% endblock %}
