{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Password Reset' %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>{% translate 'Password Reset Request' %}</h1>
        <p>{% translate 'Please enter your e-mail address to receive a password reset link.' %}</p>
        <form method="post" class="mb-5 needs-validation" novalidate>
            {% csrf_token %}
            {% include 'includes/bs5_form.html' with form=form %}
            <div class="row">
                <div class="col-sm">
                    <button type="submit" value="Send" class="btn btn-primary">{% translate 'Send' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
