{% extends "account.base.html" %}
{% load i18n %}

{% block contents %}
<div class="row">
    <div class="col-auto">
        <h1 class="fs-2">{% block title %}{% trans "Add Backup Email" %}{% endblock %}</h1>

        {% if wizard.steps.current == 'setup' %}
        <p>{% blocktrans trimmed %}Add a backup email to be used when your primary device is not available. This email address will be verified in the next step.{% endblocktrans %}</p>
        {% elif wizard.steps.current == 'validation' %}
        <p>{% blocktrans trimmed %}Please enter the token sent to your email.{% endblocktrans %}</p>
        {% endif %}

        <form action="" method="post" novalidate>{% csrf_token %}
            {% include "two_factor/_wizard_forms.html" %}

            {# hidden submit button to enable [enter] key #}
            <input type="submit" value="" class="d-none" />

            {% include "two_factor/_wizard_actions.html" %}
        </form>
    </div> <!-- .col-auto -->
</div> <!-- .row -->
{% endblock %}
