{% extends "account.base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-auto">
      <h1 class="fs-2">{% block title %}{% trans "Two-Factor Authentication" %}{% endblock %}</h1>

      <p>{% blocktrans trimmed %}Two-factor authentication successfully enabled.{% endblocktrans %}</p>
      <p><a href="{% url 'two_factor:profile' %}" class="btn btn-block btn-secondary">
        {% trans "Back to Account Security" %}
      </a></p>

      <p>{% blocktrans trimmed %}You may also add a backup email address in case you can't access your primary email.{% endblocktrans %}</p>
      <p><a href="{% url 'two_factor:email_create' %}" class="btn btn-success">
        {% trans "Add Backup Email Address" %}
      </a></p>
    </div>
  </div>
</div>
{% endblock %}
