{% load i18n static humanize jack_extras %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}
  {% endblock %}
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% block styles %}
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      {% block navbar-brand %}
      {% endblock %}
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myTabbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myTabbar">
        <ul class="navbar-nav me-auto">
          {% block left-nav-links %}
          {% endblock %}
          {% if request.user.is_staff %}
          <li class="nav-item">
            <a class="nav-link{% if section == 'admin' %} active{% endif %}" href="{% url 'admin:index' %}">
              <svg class="icon icon-logo logo-color" aria-hidden="true" focusable="false">
                <use xlink:href="/static/img/sprite/icons-jack.svg#cog"></use>
              </svg>
              {% translate 'Admin' %}
            </a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto">
          {% block right-nav-links %}
          {% endblock %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
              <svg class="icon icon-logo logo-color" aria-hidden="true" focusable="false">
                <use xlink:href="/static/img/sprite/icons-account.svg#sign-out"></use>
              </svg>
              {% translate 'Sign out' %}
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">
              <svg class="icon icon-logo logo-color" aria-hidden="true" focusable="false">
                <use xlink:href="/static/img/sprite/icons-account.svg#sign-up"></use>
              </svg>
              {% translate 'Sign up' %}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <svg class="icon icon-logo logo-color" aria-hidden="true" focusable="false">
                <use xlink:href="/static/img/sprite/icons-account.svg#sign-in"></use>
              </svg>
              {% translate 'Sign in' %}
            </a>
          </li>
          {% endif %}
          <div class="d-inline-block ms-1 ms-md-3">
            <form class="form-inline" action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <input class="form-control form-control-sm" name="next" type="hidden" value="{{ request.get_full_path|remove_language_codes }}">
              <input class="form-control form-control-sm" name="language" type="hidden" value="{% if LANGUAGE_CODE and 'ja' == LANGUAGE_CODE %}en{% else %}ja{% endif %}">
              <button class="btn language-button" type="submit">
                {% if LANGUAGE_CODE and 'ja' == LANGUAGE_CODE %}<span class="badge bg-secondary">Ａ</span>  <span class="badge bg-light text-dark">あ</span>{% else %}<span class="badge bg-light text-dark">Ａ</span>  <span class="badge bg-secondary">あ</span>{% endif %}
              </button>
            </form>
          </div>
        </ul>
      </div>
    </div> <!-- .container -->
  </nav>
  <div class="container-fluid content mt-3">
    <div id="alertBox" class="alerts mt-3">
      {% for alert in alerts %}
      <div class="alert alert-{{ alert.tag }} alert-dismissible fade show" role="alert">
        {{ alert.message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
    <div id="mainContent" class="main-content mb-3">
      {% block content %}
      {% endblock %}
    </div>
    <div class="toast-container position-absolute me-3 mb-3 end-0 bottom-0">
      {% for toast in toasts %}
      <div class="toast{% if toast.classes %} {{ toast.classes }}{% endif %}" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          {% if toast.image_src %}
          <img src="{{ toast.image_src }}" class="rounded me-2">
          {% endif %}
          {% if toast.title %}
          <strong class="me-auto">{{ toast.title }}</strong>
          {% endif %}
          {% if toast.time %}
          <small class="text-muted">{{ toast.time|naturaltime }}</small>
          {% endif %}
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        {% if toast.body %}
        <div class="toast-body">
          {{ toast.body }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  <script src="{% static 'js/lib/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/base.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</script>
