.help-sidebar {
    width: auto;
    min-height: calc(100vh - 9rem);
}

.help-navbar {
    position: sticky;
    top: calc(56px + 1rem);
    height: calc(100vh - 5.5rem);
    overflow: hidden;
    border-top: 1rem solid;
    border-bottom: 1rem solid;
    overflow-y: scroll;
}

.help-sidebar-menu {
    position: relative;
}

.anchor {
   position: relative;
   top: calc(-56px);
}

.help-offcanvas-toggler {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1;
}
