{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Profile' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-auto">
        <h1 class="fs-2">{% translate 'Profile' %}</h1>
        {% translate 'Hiya' %} {{ user }}
    </div> <!-- .col-auto -->
</div> <!-- .row -->
<div class="row">
    <div class="col-auto">
        <a href="{% url 'password_change' %}">{% translate 'Change password' %}</a>
    </div> <!-- .col-auto -->
</div> <!-- .row -->
<div class="row">
    <div class="col-auto">
        <a href="{% url 'password_reset' %}">{% translate 'Password reset' %}</a>
    </div> <!-- .col-auto -->
</div> <!-- .row -->
<div class="row mt-3">
    <div class="col-auto">
        <h2 class="fs-4">{% translate 'Account Security' %}</h2>
        <a href="{% url 'two_factor:profile' %}">{% translate 'Two-Factor authentication' %}</a>
    </div> <!-- .col-auto -->
</div> <!-- .row -->
{% endblock %}
