{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Profile' %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-auto">
                {% translate 'Hiya' %} {{ user }}
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'password_change' %}">{% translate 'Change password' %}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'password_reset' %}">{% translate 'Password reset' %}</a>
            </div>
        </div>
    </div>
{% endblock %}
