{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Sign up' %}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <form method="post" class="mb-5 needs-validation" novalidate>
            {% csrf_token %}
            {% include 'includes/bs5_form.html' with form=form %}
            <div class="row">
                <div class="col-sm">
                    <div class="mb-3">{% translate 'Already have an account?' %} <a href="{% url 'login' %}">{% translate 'Login' %}</a></div>
                    <button type="submit" value="Submit" class="btn btn-primary">{% translate 'Submit' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
