{% extends "account.base.html" %}
{% load i18n %}

{% block title %}{% translate 'Sign up' %}{% endblock %}

{% block contents %}
<div class="row">
    <div class="col-auto">
        <form method="post" class="mb-5 needs-validation" novalidate>
            {% csrf_token %}
            {% include 'includes/bs5_form.html' with form=form %}
            <div class="mb-3">{% translate 'Already have an account?' %} <a href="{% url 'login' %}">{% translate 'Login' %}</a></div>
            <button type="submit" value="Submit" class="btn btn-primary">{% translate 'Submit' %}</button>
        </form>
    </div> <!-- .col-auto -->
</div> <!-- .row -->
{% endblock %}
